h1, h2, h3, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}