* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stories-container {
    width: 600px; 
    margin: 20px auto 30px auto; 
    padding: 16px 0px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}

.stories-container::-webkit-scrollbar {
    display: none;
}

.story-item {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.story-border {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px; 
}

.story-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white; 
    cursor: pointer;
}

.story-visto {
    background: #ccc;
}

.story-username {
    display: block;
    font-size: 0.8em;
    color: #333;
    margin-top: 5px;
    max-width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seu-story .story-border {
    background: none;
    border: 2px solid #ccc;
    padding: 0px; 
}
.seu-story .story-avatar {
    border: none;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding: 10px;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

aside ul {
    list-style-type: none;
}

.icone {
    width: 30px;
    height: 30px;
    margin: 25px 10px 0px 7px;
}

section {
    text-align: center;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 20px auto;
    width: 600px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;    
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;    
}

.options-button {
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}

.post-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.like-button,
.comment-button,
.share-button,
.save-button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent; 
    padding: 0px; 
}

.like-button {
    background-image: url('icones/coracao.ico');
}

.comment-button {
    background-image: url('icones/comentario.ico');
    width: 35px;
    height: 35px;
}

.share-button {
    background-image: url('icones/compartilhar.ico');
}

.save-button {
    background-image: url('icones/salvar.png');
    margin-left: auto;
}

.post-likes {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

.post-caption {
    text-align: left;
    margin-top: 10px;
}

.post-comments {
    text-align: left;
    margin-top: 10px;
    line-height: 25px;
    color: #555;
}

.comment-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}