@charset "UTF-8";

@font-face {
    font-family: 'Akira';
    src: url('fonts/Akira.otf') format('opentype');
}

:root {
    --cor-1: #8C030E;
    --cor-2: #8C031C;
    --cor-3: #40010D;
    --cor-4: #260104;
    --cor-5: #0D0D0D;
    --fonte-principal: 'Akira', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url(imgs/gym.avif);
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

div {
    height: 100%;
    min-width: 50%;
    background-color: white;
    text-align: left;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
    position: relative;
    z-index: 1;
}

.input-submit {
    background-color: var(--cor-2);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 50px 0;
    transition: .25s;
}

.input-submit:hover {
    background-color: var(--cor-3);
    transform: scale(1.1);
}

.titulo-login {
    margin-bottom: 150px;
}

label {
    text-align: left;
    display: block;
}

input {
    margin-bottom: 10px;
    padding: 12px;
    width: 330px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    margin: 25px 0;
}