* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    border: 2px solid black;
    min-height: 200px;
    margin-bottom: 30px;
}

nav {
    border: 2px solid black;
    margin: 100px 10px 0px 10px;
}

main {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    min-height: 900px;
    padding: 10px;
    gap: 20px;
}

section {
    border: 2px solid black;
    margin-top: 60px;
    min-height: 800px;
    width: 63%;
}

aside {
    border: 2px solid black;
}

.aside1 {
    margin-top: 60px;
    min-height: 800px;
    width: 25%;
}

.aside2 {
    min-height: 250px;
    width: 250px;
    margin-top: 20px;
}

article {
    border: 2px solid black;
    margin: 10px;
}

.article1 {
    height: 400px;

}

.article2 {
    display: flex;
    justify-content: flex-end;
    height: 300px;
}

footer {
    border: 2px solid black;
    margin-top: 10px;
}